/* Estilos para o carrossel */
.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

.carousel-item {
    width: 100%;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
}

/* Estilos para os cards dentro do carrossel */
.card {
    border: 1px solid #ccc;
    margin: 10px;
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 1rem;
}

/* Estilos para os botões de controle do carrossel */
.carousel-control-prev, .carousel-control-next {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
}

/* Estilos para os botões de controle no hover */
.carousel-control-prev:hover, .carousel-control-next:hover {
    background: rgba(0, 0, 0, 0.8);
}
