* {
    font-family: 'Poppins', sans-serif;
}
/* CONFIGURAÇÕES HEADER */

header.header-container {
    position: relative;
    background-image: linear-gradient(
      147deg,
      #421b6e 0%,
      #5e2089 33%,
      #33b78f 73%,
      #421b6e 100%
    );
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-header img {
    width: 300px;
    height: 70px;
    max-width: 100%; /* Garante que a imagem não ultrapasse as dimensões especificadas */
    height: auto; /* Mantém a proporção original da imagem */
  }
  
  .logo-header,
  .logo-header a,
  .logo-header img {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .search-and-links {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .search-bar input {
    width: 80%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 3px;
  }
  
  .search-bar {
    margin-right: 20px;
  }
  
  .campo-de-pesquisa {
    font-size: 16px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .nav-links a:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
  
  /* Estilos para telas maiores */
  
  @media screen and (min-width: 769px) {
    #burger {
      display: none;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background-color: #421b6e;
      z-index: 1;
    }
  
    #burger {
      display: block;
      cursor: pointer;
      background-color: #33b78f;
      border-radius: 50px;
      color: white;
      text-align: left;
      padding: 10px;
    }
  
    .nav-links.show {
      display: flex;
      flex-direction: column;
    }
  
    .nav-links.show a {
      padding: 15px;
      text-align: left;
      text-decoration: none;
      color: #fff;
    }
  }
  
  /* CONFIGURAÇÕES HEADER */

[name="form-cad-evento"] {
    width: 357px;
    height: 72.20px;
    background: #e5d7f0;
    border-radius: 8px;
}

[name="answer-cad-evento"] {

    background: #e5d7f0;
    vertical-align: bottom;
}

.center-container {
    display: flex;
    justify-content: center;
}

[name = duvida-global] {
    
    background-color:#e5d7f0; 

}

.duvida-unit {

    width: 921px;
    height: 72p;

}
.form-control {
    background-color: #e5d7f0 !important; 
    border-color: #e5d7f0 !important; 
}

[name="desc-evento"] {
    width: 740.15px !important; 
    height: 242.88px !important;
    background: #e5d7f0;
    border-radius: 8px;
}

[name="atracoes"] {
    width: 357px;
    height: 183.23px;
    background: #e5d7f0;
    border-radius: 8px;
}

[name="email"] {
    width: 739px !important;
    height: 72.20px !important;
    background: #e5d7f0;
    border-radius: 8px;
}



.btn-shows-da-semana {
    width: 201px;
    height: 48.17px;
    border-radius: 8px;
    background-color: #421b6e;
    color: #ffffff;
    border-color: #421b6e;
}

.btn-shows-da-semana:hover {
    background-color: #33b78f
}

[name="titulo"] {
    width: 320px;
    height: 21px;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word; 
}

footer {
    background-image: linear-gradient(
      147deg,
      #421b6e 0%,
      #5e2089 33%,
      #33b78f 73%,
      #421b6e 100%
    );
    padding: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Divide a largura em duas colunas iguais */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo img {
    max-width: auto;
    height: auto;
  }
  
  .links a {
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .links a:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
  .redes-sociais a {
    margin: 0 10px;
    text-decoration: none;
  }
  
  .redes-sociais i {
    font-size: 24px;
    color: #ffffff;
  }