body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #e5d7f0 !important;
}

* {
    font-family: 'Poppins', sans-serif;
}

.background-config {
    background-color: #e5d7f0 !important;
}

/* CONFIGURAÇÕES HEADER */

header {
    background-image: linear-gradient(147deg, #421b6e 0%, #5e2089 33%, #33b78f 73%, #421b6e 100%); 
    box-shadow: 0px -3px 10px #b9b9b9;
    position: relative;
    height: 15vh;
    width: 100%;
}

li {
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
    font-size: 18px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo-header { 
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 20px;
}

.nav-item {
    padding-top: 10px;
    margin: 0 15px;
    font-size: 20px;
}

.search-bar ::placeholder {
    color: #000000;
    background: url(https://www.pngmart.com/files/8/Search-Button-PNG-Transparent-Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -0, 5em;
    padding-left: 4.0em;
}

.search-bar {
    display: flex;
    align-items: center;
    padding-left: 225px
}

.search-bar input {
    padding: 8px;
    border-radius: 20px;
    margin-right: 10px;
    width: 300px;
    border: none;
}

.search-bar i {
    margin: 0 5px;
    /* Espaçamento entre o ícone e o input */
    font-size: 20px;
    /* Tamanho do ícone */
}

/* CONFIGURAÇÕES HEADER */

/* ------------------------------------------------------------------------------------------------------------------ */

/* CONFIGURAÇÕES FOOTER */

footer {
    background-image: linear-gradient(147deg, #421b6e 0%, #5e2089 33%, #33b78f 73%, #421b6e 100%); 
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    max-width: 200px;

}

.links a {
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
}

.redes-sociais a {
    margin: 0 10px;
    text-decoration: none;
}

.redes-sociais i {
    font-size: 24px;
    color: #ffffff;
}

/* CONFIGURAÇÕES FOOTER */

/* ------------------------------------------------------------------------------------------------------------------ */

/* CONTEÚDO DA PAGINA */


h1 {
    text-align: center;
    padding: 20px;
}

.capa-evento {
    width: 1800px;
    height: 800px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    margin: 0 auto;
    clear: both;
}


h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    padding-bottom: 57px;
}

h2{
    padding-left: 150px;
    padding-bottom: 15px;
}

p{
    padding-left: 150px;
    padding-right: 150px;
    font-size: 24px;
    padding-bottom: 42px;
}

/* FAVORITAR */


.botao-imagem {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 80px;
    margin-top: -40px;
    padding-left: 1600px;
}

.botao-imagem img {
    border: none;
    width: 100%; /* Ajuste o tamanho conforme necessário */
}
