body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #e5d7f0 !important;
}

.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ajuste conforme necessário para empilhamento */
}

.menu-icon {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 1001; /* Certifique-se de que o ícone do menu esteja acima do menu */
}

* {
  font-family: "Poppins", sans-serif;
}

.background-config {
  background-color: #e5d7f0 !important;
}

/* CONFIGURAÇÕES HEADER */

header {
  background-image: linear-gradient(147deg, #421b6e 0%, #5e2089 33%, #33b78f 73%, #421b6e 100%);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  flex: 0 0 auto;
}

.logo {
  height: 70px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.search-and-links {
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px; /* ou qualquer valor desejado para o arredondamento */
  padding: 5px; /* ajuste conforme necessário */
}

.search-bar {
  margin-right: 20px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

<<<<<<< HEAD

/* Media query para tornar o menu responsivo */

@media screen and (max-width: 768px) {

  .logo img {
    max-width: 200px;
    align-items: center;
    sr: url('./assets/logo-white-rd.png'); 
    display: block; 
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #5e2089;
    width: 100%;
    display: none;
  }

=======
/* Media query para tornar o menu responsivo */
@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #5e2089;
    width: 100%;
    display: none;
  }

>>>>>>> 127284458181e6ed824c0662956cd2bc8782d172
  .nav-links a {
    margin: 0;
    padding: 10px;
    border-bottom: 0.5px inset #fff;
    width: 100%;
    text-align: left;
    margin-right: -5%;
  }

  .nav-links.active {
    display: flex;
    margin-top: 35px;
  }

  .menu-icon {
    display: block;
  }

  .search-and-links {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    display: block;
    margin-top: 10px;
    margin-right: 0;
  }

  .search-and-links {
    width: 100%;
    justify-content: center;
  }
}

/* CONFIGURAÇÕES FOOTER */

footer {
  background-image: linear-gradient(147deg, #421b6e 0%, #5e2089 33%, #33b78f 73%, #421b6e 100%); 
  padding: 20px;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  max-width: 200px;
  align-items: center;
}

.links a {
  margin: 0 20px;
  text-decoration: none;
  color: #ffffff;
}

.redes-sociais a {
  margin: 0 10px;
  text-decoration: none;
}

.redes-sociais i {
  font-size: 24px;
  color: #ffffff;
}

.ul-footer {
  list-style: none;
  display: flex;
  list-style: none;
  padding: 0;
  padding-top: 10px;
}

.li-footer{
  list-style: none;
  background-color: #D9D9D9;
  border-radius: 33px;
  padding: 10px;
  margin: 50px;
  flex: 1;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

.p-footer{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}


/* CONTEÚDO DA PAGINA */

h1 {
  text-align: center;
  padding: 20px;
}

.capa-evento {
    width: 90%;
    height: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px auto;
    clear: both;
  }

h3 {
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  padding-bottom: 57px;
}

h2 {
  padding-left: 10%;
}

p {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 22px;
  padding-bottom: 42px;
}

/* FAVORITAR */

.botao-imagem {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 80px;
  margin-top: -50px;
  margin-left: 85%;
}

.botao-imagem img {
  border: none;
  width: 100%; /* Ajuste o tamanho conforme necessário */
}


@media only screen and (max-width: 768px) {
    .botao-imagem {
      width: 60px; /* Ajuste conforme necessário para telas menores */
      margin-left: 80%; /* Ajuste conforme necessário para telas menores */
    }
  }


/* COMENTÁRIOS */

.comment-section {
  max-width: 78%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.info-usuario {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info-usuario img {
  border-radius: 50%;
  margin-right: 10px;
}
.comentario-usuario {
  font-size: 18px;
  margin-left: 5%;
}

textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

button {
  padding: 10px;
  background-color: #421b6e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}
