* {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #e5d7f0 !important;
}

.background-config {
    background-color: #e5d7f0 !important;
}

.background-card {
    background-color: #e5d7f0 !important;
    border-color: #e5d7f0 !important;
}

.box {
    text-align: center;
    padding: 4%;
    padding-bottom: 8%;
}


.box .especial {
    display: none;
}

.col-md-2 .card {
    background-color: aqua;
    display: flex;
    height: 89.9%;
}

.row {

    margin-bottom: -12%;
}

.projects {
    margin-left: 18%;
    padding-top: 2%;
}

.projects button {
    width: 200px;
    text-align: center;
    border-radius: 23px;
    align-self: flex-start;
    background-color: #421b6e;
    color: #ffffff;
    margin-left: 17%;
}


header.header-container {
    position: relative;
    background-image: linear-gradient(
      147deg,
      #421b6e 0%,
      #5e2089 33%,
      #33b78f 73%,
      #421b6e 100%
    );
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-header img {
    width: 300px;
    height: 70px;
    max-width: 100%; /* Garante que a imagem não ultrapasse as dimensões especificadas */
    height: auto; /* Mantém a proporção original da imagem */
  }
  
  .logo-header,
  .logo-header a,
  .logo-header img {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .search-and-links {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .search-bar input {
    width: 80%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 3px;
    font-size: 14px;
  }
  
  .search-bar {
    margin-right: 20px;
  }
  
  .campo-de-pesquisa {
    font-size: 16px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .nav-links a:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
  
  /* Estilos para telas maiores */
  
  @media screen and (min-width: 769px) {
    #burger {
      display: none;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background-color: #421b6e;
      z-index: 1;
    }
  
    #burger {
      display: block;
      cursor: pointer;
      background-color: #33b78f;
      border-radius: 50px;
      color: white;
      text-align: left;
      padding: 10px;
    }
  
    .nav-links.show {
      display: flex;
      flex-direction: column;
    }
  
    .nav-links.show a {
      padding: 15px;
      text-align: left;
      text-decoration: none;
      color: #fff;
    }
  }

footer {
    background-image: linear-gradient(147deg, #421b6e 0%, #5e2089 33%, #33b78f 73%, #421b6e 100%);
    padding: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    max-width: 200px;
    align-items: center;
}

.links a {
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
}

.redes-sociais a {
    margin: 0 10px;
    text-decoration: none;
}

.redes-sociais i {
    font-size: 24px;
    color: #ffffff;
}

.ul-footer {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0;
    padding-top: 10px;
}

.li-footer {
    list-style: none;
    background-color: #D9D9D9;
    border-radius: 33px;
    padding: 10px;
    margin: 50px;
    flex: 1;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.p-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.close {
    float: right;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Estilo para links */
ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: blue;
}