body p {
    text-align: center;
    width: 937px;
    margin-left: 480px;
    margin-top: 5%;
}

@media (min-width: 320px), (max-width: 767px) {
  .titulo, .titulo-equipe {
    margin-left: 37% !important;
    font-size: 30px;
  }
  .titulo-equipe {
      margin-top: 60px !important;
      margin-bottom: -35px;
      padding-bottom: 80px;
  }
  .card-line-one .card .card-body .card-text, .card-line-two .card .card-body .card-text {
    padding-right: 850%;
  }
  footer {

    margin-top: 15% !important;
  }  
   body p {
     font-size: 14px;
     margin-left: 0%;
     padding-left: 10%;
     padding-right: 31%;
   }
   .card-line-one, .card-line-two {
    
     margin-top: -20%;
     margin-right: 5%;
   }

   .card-line-one .card img{
      width: 150px !important;
      height: 150px !important;

   }
   .card-line-two .card img{
      width: 150px !important;
      height: 150px !important;
   }

   .card {
     width: 96px !important;
     height: 86px !important;
     margin
   }

   .card-line-one .card, .card-line-two .card {
      margin: 7% !important;
   } 
   .card-line-one {
    margin-bottom: 7%;
   }

}
#foto-evento {
    margin-top: 0 auto;
    width: 100%;
    height: 649px;
    background-size: cover;
    align-items: center;
    margin-bottom: 50px;
    
}
.titulo, .titulo-equipe {
    margin-left: 820px;
    margin-bottom: 20px;
}
.titulo-equipe {
    margin-top: 150px;
    margin-bottom: -70px;
}


.card-line-one, .card-line-two {
    display: flex;
    justify-content: center;
    padding-top: 8%;
}

.card-line-two {
    margin-top: -7%;
}

.card-line-one .card, .card-line-two .card {
    margin: 3%;
}
.card-line-one .card .card-body .card-text, .card-line-two .card .card-body .card-text {
    margin-left: -250%;
    margin-top: 5%;
}
.card-line-one .card .card-img-top {
  width: 192px; 
  height: 172px;
}


header.header-container {
    position: relative;
    background-image: linear-gradient(147deg, #421b6e 0%, #5e2089 33%, #33b78f 73%, #421b6e 100%);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-header img {
    width: 300px;
    height: 70px;
    max-width: 100%; /* Garante que a imagem não ultrapasse as dimensões especificadas */
    height: auto; /* Mantém a proporção original da imagem */
  }
  
  .logo-header,
  .logo-header a,
  .logo-header img {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .search-and-links {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px; 
    padding: 5px; 
  }
  
  .search-bar {
    margin-right: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  /* Estilos para telas maiores */
  
  @media screen and (min-width: 769px) {
    #burger {
      display: none; 
    }
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none; 
      position: absolute;
      top: 100px; 
      left: 0;
      width: 100%;
      background-color: #421b6e;
      z-index: 1;
    }
  
    #burger {
      display: block; 
      cursor: pointer;
      background-color:  #33b78f;
      border-radius: 50px;
      color: white;
      text-align: left;
      padding: 10px;
    }
  
    .nav-links.show {
      display: flex;
      flex-direction: column;
    }
  
    .nav-links.show a {
      padding: 15px;
      text-align: left;
      text-decoration: none;
      color: #fff;
    }

  }

footer {
    background-image: linear-gradient(147deg, #421b6e 0%, #5e2089 33%, #33b78f 73%, #421b6e 100%); 
    padding: 20px;
    margin-top: 5%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Divide a largura em duas colunas iguais */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    max-width: auto;
    height: auto;
}

.links a {
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
}

.redes-sociais a {
    margin: 0 10px;
    text-decoration: none;
}

.redes-sociais i {
    font-size: 24px;
    color: #ffffff;
}

@media screen and (max-width: 480px) {
    /* Adicione estilos específicos para telas menores que 480px aqui */
    .navbar {
        padding: 10px 0;
    }
    .navbar-header {
        justify-content: space-between;
    }
    .logo {
        margin-left: 0;
    }
    .nav-list {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .nav-list.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #444;
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .nav-list li {
        margin: 10px 0;
    }
}