* {
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  background-color: #e5d7f0 !important;
  margin: 0; /* Remova as margens padrão do corpo e do HTML */
}

p {
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
}

#foto-evento {
  margin: 0 auto; /* Centralize na horizontal */
  width: 100%;
  background-size: cover;
  align-items: center;
  margin-bottom: 50px;
}

.titulo,
.titulo-equipe {
  text-align: center;
  margin-bottom: 20px;
}

.titulo-equipe {
  margin-top: 70px;
  margin-bottom: -70px;
}

.card-line-one {
  display: flex;
  justify-content: center;
  padding-top: 60px;

}

.card-line-two {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}


.card-line-two {
    margin-top: -7%;
}

.card-line-one .card, .card-line-two .card {
    margin: 3%;
}

.card-line-one .card .card-img-top {
  width: 192px; 
  height: 172px;
}


header.header-container {
    position: relative;
    background-image: linear-gradient(147deg, #421b6e 0%, #5e2089 33%, #33b78f 73%, #421b6e 100%);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-header img {
    width: 300px;
    height: 70px;
    max-width: 100%; /* Garante que a imagem não ultrapasse as dimensões especificadas */
    height: auto; /* Mantém a proporção original da imagem */
  }
  
  .logo-header,
  .logo-header a,
  .logo-header img {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .search-and-links {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px; 
    padding: 5px; 
  }
  
  .search-bar {
    margin-right: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  /* Estilos para telas maiores */
  
  @media screen and (min-width: 769px) {
    #burger {
      display: none; 
    }
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none; 
      position: absolute;
      top: 100px; 
      left: 0;
      width: 100%;
      background-color: #421b6e;
      z-index: 1;
    }
  
    #burger {
      display: block; 
      cursor: pointer;
      background-color:  #33b78f;
      border-radius: 50px;
      color: white;
      text-align: left;
      padding: 10px;
    }
  
    .nav-links.show {
      display: flex;
      flex-direction: column;
    }
  
    .nav-links.show a {
      padding: 15px;
      text-align: left;
      text-decoration: none;
      color: #fff;
    }
  }

footer {
    background-image: linear-gradient(147deg, #421b6e 0%, #5e2089 33%, #33b78f 73%, #421b6e 100%); 
    padding: 20px;
    margin-top: 5%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Divide a largura em duas colunas iguais */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    max-width: auto;
    height: auto;
}

.links a {
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
}

.redes-sociais a {
    margin: 0 10px;
    text-decoration: none;
}

.redes-sociais i {
    font-size: 24px;
    color: #ffffff;
}

@media screen and (max-width: 480px) {
    /* Adicione estilos específicos para telas menores que 480px aqui */
    .navbar {
        padding: 10px 0;
    }
    .navbar-header {
        justify-content: space-between;
    }
    .logo {
        margin-left: 0;
    }
    .nav-list {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .nav-list.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #444;
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .nav-list li {
        margin: 10px 0;
    }
}